# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Platformer.iml
# Datasource local storage ignored files
/../../../../../../:\Gamedev\Platformer\.idea\.idea.Platformer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
